html, body { 
  height: 100%;
  width: 100%;
}

#fullHeight {
  height: 70%;
  padding: 0px;
  margin-right: -10px;
}

#mapDiv {
	height: 100%;
}

hgroup h1 {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

#HomeButton {
      position: absolute;
      top: 95px;
      left: 20px;
      z-index: 50;
}

.jumbotron {
	margin-bottom: 0px;
	text-align: center;
	background-color: #2980b9;
	color: #ecf0f1;
}

.jumbotron h1 {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

div.container {
	height: 100%;
}
.wrapper {
	height: 100%;
}

section {
	height: 70%;
	overflow: auto;
}

footer.jumbotron {
	border-top: 1px solid grey;
	text-align: left;
}
