	
	<hgroup>
		<h1>
			Taylor, Arkansas
		</h1>
	</hgroup><hr>
	<div class="col-md-6" id="legendDiv"></div>
</section><!-- end of div started in the app layout -->
<div class="col-md-8" id="fullHeight">
	<div id="mapDiv" class="map">
		<div id="HomeButton"></div>
	</div>
	


		

